.content {
	@apply space-y-4;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	h6 {
		@apply text-base;
	}

	ul,
	ol {
		@apply list-inside space-y-2;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	p {
		@apply text-base leading-7;
	}

	a {
		@apply text-primary-600;
		@apply hover:underline;
	}

	img {
		@apply rounded-lg;
		@apply border border-gray-200;
		@apply shadow-sm;
	}

	pre {
		@apply text-sm;
		@apply font-mono;
		@apply text-primary-700;
	}

	code {
		@apply bg-gray-100;
		@apply py-1 px-2;
		@apply rounded-lg;
		@apply text-sm;
		@apply font-mono;
		@apply text-primary-700;
	}

	pre {
		code {
			@apply bg-transparent;
			@apply p-0;
			@apply rounded-none;
		}
	}
}
