@import "tailwindcss";

@theme {
	/* PRIMARY */
	--color-primary-50: #f0fdfa;
	--color-primary-100: #cbfbf1;
	--color-primary-200: #96f7e4;
	--color-primary-300: #46ecd5;
	--color-primary-400: #00d5be;
	--color-primary-500: #00bba7;
	--color-primary-600: #009689;
	--color-primary-700: #00786f;
	--color-primary-800: #005f5a;
	--color-primary-900: #0b4f4a;

	/* GRAY */
	--color-gray-50: #fafafa;
	--color-gray-100: #f5f5f5;
	--color-gray-200: #dcdcdc;
	--color-gray-300: #c0c0c0;
	--color-gray-400: #949494;
	--color-gray-500: #757575;
	--color-gray-600: #595959;
	--color-gray-700: #404040;
	--color-gray-800: #262626;
	--color-gray-900: #171717;
}
